
\.idea/store-checkout-client\.iml

\.idea/workspace\.xml

\.idea/

target/classes/

target/maven-status/maven-compiler-plugin/compile/default-compile/

target/maven-archiver/

target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles\.lst

target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles\.lst

target/store-checkout-client-0\.0\.1-SNAPSHOT\.jar

target/store-checkout-client-0\.0\.1-SNAPSHOT\.jar\.original

target/surefire-reports/com\.store\.checkout\.client\.StoreCheckoutClientApplicationTests\.txt

target/surefire-reports/TEST-com\.store\.checkout\.client\.StoreCheckoutClientApplicationTests\.xml

target/test-classes/com/store/checkout/client/StoreCheckoutClientApplicationTests\.class

target/test-classes/META-INF/store-checkout-client\.kotlin_module

HELP\.md
